body {
    background-color: #433c7a;
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 0;
    height: 5vh;
}

header button {
    background: none;
    border: none;
}

#back_button a {
    color:#f7f7fc;
    text-decoration: none;
}

#back_button a:visited {
    color: #f7f7fc;
}

#favorites a {
    color: #dbd464;
}

#favorites a:visited  {
    color: #dbd464;
}

#current_station h1 {
    color: #f7f7fc;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

#current_station h2 {
    color: #dbd464;
    font-size:25px;
    margin-top: 0;
    margin-bottom: 0;
}

#current_station {
    margin-left: 5vw;
    margin-bottom: 3vh;
}

#station_map {
    margin-left: 4.5vw;
    width: 90vw;
    height: 30vh;
    border: 2px solid #201d3b;
    border-radius: 2vw;
    overflow: hidden;
}

#station_map img {
    width: 90vw;
    height: 30vh;
}

#facilities {
    width: 90vw;
}

#facilities h2 {
    color: #f7f7fc;
    font-size: 25px;
    margin-left: 5vw;
}

#facility_icons {
    width: 70vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#facility_icons img {
    width: 15vw;
}

.map_icon {
    width: 43vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 2vh;
}

.map_icon p {
    color: #dbd464;
    margin-left: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.map_icon h3 {
    color: #f7f7fc;
    margin-left: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

.icon_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

