$purple: rgba(67, 60, 122, 1);
$purple_filter: invert(20%) sepia(15%) saturate(4192%) hue-rotate(217deg) brightness(95%) contrast(82%);
$off_white: rgb(247, 247, 252);
$off_white_filter: invert(20%) sepia(15%) saturate(4192%) hue-rotate(217deg) brightness(95%) contrast(82%);
$yellow: rgba(219, 212, 100, 1);
$yellow_filter: invert(91%) sepia(20%) saturate(1041%) hue-rotate(3deg) brightness(92%) contrast(91%);
$light_purple: #5f598e;
$green: rgba(126, 219, 136, 1);