.mediaViewInfo {
  --web-view-name: trip 1;
  --web-view-id: trip_1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: trip_1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  position: absolute;
  width: 412px;
  height: 892px;
  background-color: rgb(67, 60, 122);
  overflow: hidden;
}

header {
  height: 25%;
  width: 100%;
}

#hero_img {
  position: absolute;
  height: 25%;
  width: 100%;
}

nav {
  height: 20px;
  display: flex;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgb(67, 60, 122);
  position: absolute;
  width: 100%;
  margin-top: 2px;
}
nav > span {
  margin-left: 24px;
}

#back_icon {
  position: absolute;
  height: 16px;
  aspect-ratio: 1/1;
  margin: 2px;
}

#back_icon_img {
  filter: invert(20%) sepia(15%) saturate(4192%) hue-rotate(217deg) brightness(95%) contrast(82%);
  height: 100%;
  width: 100%;
  transform: scaleX(-1);
}

#favourite_tap_link {
  display: flex;
  align-self: flex-end;
  margin-right: 0;
  margin-left: auto;
}

#favourite_tap_div {
  position: relative;
}

#favourite_tap_span {
  color: rgb(247, 247, 252);
  font-weight: lighter;
  position: absolute;
  margin-left: 25px;
  margin-top: 4px;
}

#favourite_tap_img {
  margin-bottom: -10px;
}

#from_input, #to_input {
  position: absolute;
  border-radius: 5px;
  border: 2px rgb(67, 60, 122) solid;
  width: 68%;
  height: 4%;
  z-index: 1;
}

#from_input {
  margin-top: 13%;
  margin-left: 21%;
}

#to_input {
  margin-top: 26%;
  margin-left: 8%;
}

#favourites {
  position: absolute;
  width: 30px;
  height: 30px;
  filter: invert(20%) sepia(15%) saturate(4192%) hue-rotate(217deg) brightness(95%) contrast(82%);
  margin-top: 13%;
  margin-left: 90%;
  z-index: 1;
}

#start_flag, #end_flag {
  position: absolute;
}

#start_flag {
  width: 75px;
  height: 130px;
  left: 10px;
  top: 45px;
}

#end_flag {
  width: 78px;
  height: 78px;
  left: 310px;
  top: 95px;
}

#rails {
  position: absolute;
  width: 567px;
  height: 195px;
  left: -99px;
  top: 40px;
  overflow: hidden;
  z-index: 0;
}

#plan_submit {
  position: absolute;
  color: rgb(247, 247, 252);
  background-color: rgb(67, 60, 122);
  border-radius: 5px;
  width: 20%;
  height: 3%;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42%;
}

main {
  overflow-y: scroll;
  height: 75%;
  width: 100%;
  position: relative;
}

.stationSection {
  position: absolute;
  height: 100%;
  width: 100%;
}

.station_divs {
  height: 20%;
  width: 100%;
  font-family: "Segoe UI";
  font-weight: bold;
  display: flex;
}

.odd_purple {
  background-color: #5f598e;
}

.stationNameInfoDiv {
  margin-left: auto;
  margin-right: 0;
  width: 60%;
}

.stationMapDiv {
  width: 20%;
}

.stationNameDiv, .stationInfoDiv {
  width: 100%;
}

.stationNameDiv {
  color: rgb(247, 247, 252);
  height: 60%;
  display: flex;
  align-items: flex-end;
}

.stationInfoDiv {
  display: flex;
  height: 40%;
  align-content: flex-end;
}

.arrivalTimeDiv, .platformDiv {
  color: rgb(219, 212, 100);
  font-weight: normal;
  font-size: 0.9em;
}

.arrivalTimeDiv {
  width: 40%;
}

.platformDiv {
  width: 60%;
}

.routeDiv {
  width: 75px;
  position: absolute;
  z-index: 1;
  display: flex;
}
.routeDiv > img {
  height: 100%;
  width: 100%;
}

.progress {
  width: 10px;
  height: 1%;
  background-color: rgb(126, 219, 136);
}

.bar {
  width: 10px;
  background-color: rgb(247, 247, 252);
  margin: auto;
}

#Untitled-2 {
  opacity: 0.9;
  position: absolute;
  width: 495px;
  height: 263px;
  left: -41px;
  top: 21px;
  overflow: visible;
}

#Group_6 {
  position: absolute;
  width: 412px;
  height: 42px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Rectangle_3 {
  fill: rgb(39, 39, 39);
}

.Rectangle_3 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 42px;
  left: 0px;
  top: 0px;
}

#n_3 {
  left: 342px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 24px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgb(210, 208, 208);
}

#Group_4 {
  position: absolute;
  width: 34px;
  height: 17px;
  left: 368px;
  top: 13px;
  overflow: visible;
}

#Group_2 {
  position: absolute;
  width: 34px;
  height: 17px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#Rectangle_5 {
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_5 {
  position: absolute;
  overflow: visible;
  width: 6px;
  height: 10px;
  left: 0px;
  top: 3px;
}

#Rectangle_4 {
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_4 {
  position: absolute;
  overflow: visible;
  width: 30px;
  height: 17px;
  left: 4px;
  top: 0px;
}

#Rectangle_6 {
  fill: rgb(106, 236, 30);
}

.Rectangle_6 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 11px;
  left: 27px;
  top: 3px;
}

#Rectangle_7 {
  fill: rgb(106, 236, 30);
}

.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 11px;
  left: 22px;
  top: 3px;
}

#Rectangle_8 {
  fill: rgb(106, 236, 30);
}

.Rectangle_8 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 11px;
  left: 17px;
  top: 3px;
}

#Rectangle_9 {
  fill: rgb(106, 236, 30);
}

.Rectangle_9 {
  position: absolute;
  overflow: visible;
  width: 4px;
  height: 11px;
  left: 12px;
  top: 3px;
}

#Group_3 {
  position: absolute;
  width: 15px;
  height: 17px;
  left: 318.5px;
  top: 13px;
  overflow: visible;
}

#Line_4 {
  fill: transparent;
  stroke: rgb(112, 112, 112);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_4 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 17px;
  left: 15px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_5 {
  fill: transparent;
  stroke: rgb(210, 208, 208);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_5 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 10px;
  left: 5px;
  top: 7px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_6 {
  fill: transparent;
  stroke: rgb(210, 208, 208);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_6 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 14px;
  left: 10px;
  top: 3px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_7 {
  fill: transparent;
  stroke: rgb(210, 208, 208);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_7 {
  overflow: visible;
  position: absolute;
  width: 3px;
  height: 6px;
  left: 0px;
  top: 11px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_200 {
  left: 10px;
  top: 12px;
  position: absolute;
  overflow: visible;
  width: 29px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgb(210, 208, 208);
}

#Rectangle_14 {
  opacity: 0;
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_14 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 129px;
  left: 0px;
  top: 413px;
}

#Rectangle_15 {
  opacity: 0.15;
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_15 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 129px;
  left: 0px;
  top: 284px;
}

#Rectangle_16 {
  opacity: 0;
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_16 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 129px;
  left: 0px;
  top: 671px;
}

#Rectangle_17 {
  opacity: 0.15;
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_17 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 129px;
  left: 0px;
  top: 542px;
}

#Rectangle_19 {
  opacity: 0.15;
  fill: rgb(255, 255, 255);
  stroke: rgb(112, 112, 112);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_19 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 92px;
  left: 0px;
  top: 800px;
}

#Rectangle_18 {
  fill: rgb(247, 247, 252);
  stroke: rgb(67, 60, 122);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_18 {
  position: absolute;
  overflow: visible;
  width: 278px;
  height: 48px;
  left: 95px;
  top: 88px;
}

#Rectangle_13 {
  fill: rgb(247, 247, 252);
  stroke: rgb(67, 60, 122);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Rectangle_13 {
  position: absolute;
  overflow: visible;
  width: 278px;
  height: 48px;
  left: 32px;
  top: 156px;
}

#bottom_bar {
  position: absolute;
  width: 412px;
  height: 70px;
  left: 0px;
  top: 822px;
  overflow: visible;
}

#Rectangle_1 {
  fill: rgb(39, 39, 39);
}

.Rectangle_1 {
  position: absolute;
  overflow: visible;
  width: 412px;
  height: 70px;
  left: 0px;
  top: 0px;
}

#Polygon_1 {
  fill: rgb(216, 216, 216);
}

.Polygon_1 {
  overflow: visible;
  position: absolute;
  width: 23px;
  height: 21px;
  transform: translate(0px, -822px) matrix(1, 0, 0, 1, 331, 847) rotate(90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Rectangle_2 {
  fill: rgb(216, 216, 216);
}

.Rectangle_2 {
  position: absolute;
  overflow: visible;
  width: 24px;
  height: 23px;
  left: 194px;
  top: 24px;
}

#Group_1 {
  position: absolute;
  width: 24.933px;
  height: 23px;
  left: 54.467px;
  top: 24px;
  overflow: visible;
}

#Line_1 {
  fill: transparent;
  stroke: rgb(216, 216, 216);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_1 {
  overflow: visible;
  position: absolute;
  width: 24.973px;
  height: 1.999px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_2 {
  fill: transparent;
  stroke: rgb(216, 216, 216);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_2 {
  overflow: visible;
  position: absolute;
  width: 24.933px;
  height: 1px;
  left: 0px;
  top: 11.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_3 {
  fill: transparent;
  stroke: rgb(216, 216, 216);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_3 {
  overflow: visible;
  position: absolute;
  width: 24.973px;
  height: 1.999px;
  left: 0px;
  top: 22px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#flag {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 0px;
  top: 75px;
  overflow: visible;
}

#Path_1 {
  fill: rgba(0, 0, 0, 0);
  stroke: rgb(0, 0, 0);
  stroke-width: 2.2000000477px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Path_1 {
  overflow: visible;
  position: absolute;
  width: 2.2px;
  height: 75.2px;
  left: 20.7px;
  top: 156px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#flag_bq {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 303px;
  top: 146px;
  overflow: visible;
}

#Van {
  left: 104px;
  top: 98px;
  position: absolute;
  overflow: visible;
  width: 35px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: rgb(130, 130, 130);
}

#Naar {
  left: 256px;
  top: 166px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: rgb(130, 130, 130);
}

#Line_8 {
  fill: transparent;
  stroke: rgb(247, 247, 252);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_8 {
  overflow: visible;
  position: absolute;
  width: 6px;
  height: 476px;
  left: 36.5px;
  top: 346.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Ellipse_1 {
  fill: rgb(247, 247, 252);
}

.Ellipse_1 {
  position: absolute;
  overflow: visible;
  width: 20px;
  height: 22px;
  left: 27px;
  top: 336px;
}

#Line_9 {
  fill: transparent;
  stroke: rgb(247, 247, 252);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_9 {
  overflow: visible;
  position: absolute;
  width: 14px;
  height: 6px;
  left: 37.5px;
  top: 477.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_10 {
  fill: transparent;
  stroke: rgb(247, 247, 252);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_10 {
  overflow: visible;
  position: absolute;
  width: 14px;
  height: 6px;
  left: 36.5px;
  top: 606.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Line_11 {
  fill: transparent;
  stroke: rgb(247, 247, 252);
  stroke-width: 6px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_11 {
  overflow: visible;
  position: absolute;
  width: 14px;
  height: 6px;
  left: 37.5px;
  top: 735.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Dordrecht_station {
  left: 61px;
  top: 577px;
  position: absolute;
  overflow: visible;
  width: 218px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgb(247, 247, 252);
}

#Vertrek_1524 {
  left: 61px;
  top: 614px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Spoor_1a {
  left: 207px;
  top: 614px;
  position: absolute;
  overflow: visible;
  width: 72px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#stationmaplogobutbetter {
  position: absolute;
  width: 101px;
  height: 143px;
  left: 302px;
  top: 297px;
  overflow: visible;
}

#Rotterdam_Blaak {
  left: 61px;
  top: 459px;
  position: absolute;
  overflow: visible;
  width: 204px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgb(247, 247, 252);
}

#Vertrek_1535 {
  left: 61px;
  top: 496px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Spoor_2 {
  left: 202px;
  top: 496px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Rotterdam_Centraal {
  left: 61px;
  top: 330px;
  position: absolute;
  overflow: visible;
  width: 242px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgb(247, 247, 252);
}

#Vertrek_1542 {
  left: 61px;
  top: 367px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Spoor_12 {
  left: 231px;
  top: 367px;
  position: absolute;
  overflow: visible;
  width: 73px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Roosendaal_station {
  left: 61px;
  top: 717px;
  position: absolute;
  overflow: visible;
  width: 236px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgb(247, 247, 252);
}

#Vertrek_1546 {
  left: 61px;
  top: 754px;
  position: absolute;
  overflow: visible;
  width: 103px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Spoor_5 {
  left: 234px;
  top: 754px;
  position: absolute;
  overflow: visible;
  width: 63px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgb(219, 212, 100);
}

#Line_12 {
  fill: transparent;
  stroke: rgb(67, 60, 122);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_12 {
  overflow: visible;
  position: absolute;
  width: 70px;
  height: 3px;
  left: 310.5px;
  top: 413.5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Polygon_7 {
  fill: rgb(67, 60, 122);
}

.Polygon_7 {
  overflow: visible;
  position: absolute;
  width: 19px;
  height: 16px;
  transform: matrix(1, 0, 0, 1, 339, 105) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Polygon_8 {
  fill: rgb(67, 60, 122);
}

.Polygon_8 {
  overflow: visible;
  position: absolute;
  width: 19px;
  height: 16px;
  transform: matrix(1, 0, 0, 1, 47, 172) rotate(180deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#Rotterdam_Centraal_ce {
  left: 150px;
  top: 98px;
  position: absolute;
  overflow: visible;
  width: 181px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: rgb(67, 60, 122);
}

#Vlissingen {
  left: 88px;
  top: 166px;
  position: absolute;
  overflow: visible;
  width: 94px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: rgb(67, 60, 122);
}

#back {
  position: absolute;
  width: 81px;
  height: 23px;
  left: 21px;
  top: 52px;
  overflow: visible;
  --web-animation: fadein undefineds undefined;
  --web-action-type: page;
  cursor: pointer;
}

#Polygon_3 {
  fill: rgb(67, 60, 122);
}

.Polygon_3 {
  overflow: visible;
  position: absolute;
  width: 18px;
  height: 13px;
  transform: translate(-22px, -50px) matrix(1, 0, 0, 1, 19.5, 57.5) rotate(-90deg);
  transform-origin: center;
  left: 0px;
  top: 0px;
}

#ga_terug {
  left: 21px;
  top: 0px;
  position: absolute;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgb(67, 60, 122);
}

/*# sourceMappingURL=trip_1.css.map */
